<html>
    <head>
        <meta charset="UTF-8">
        <title><!--TITLE--></title>
        <link rel="stylesheet" type="text/css" href="<!--STYLE-->">
        <link rel="stylesheet" type="text/css" href="db/Skin/style.css">
        <script type="text/javascript" src="db/Skin/js/jquery-1.8.0.min.js"></script>
        <script type="text/javascript" src="db/Skin/js/jquery.markitup.js"></script>
        <script type="text/javascript" src="db/Skin/js/set.js"></script>
        
        <script language="JavaScript" src='<!--COMMONJS-->'></script>
    </head>
    <body>
        <table class="sidebar_and_content" cellpadding="0" cellspacing="0">
            <tr>
                <td class='sidebar'>
                    <div class="logo"><img src='db/Skin/logo1.png'></div>
                    <div id='sidebar'>
                        <div class='sidebar'>
                        <!--------------------------------S I D E B A R   C O N T E N T------------------------------------->
                        <!--SIDEBAR-->
                        <!--------------------------------E N D  O F  S I D E B A R----------------------------------------->
                        </div>
                    </div>
                </td>
                
                <td valign="top" width="100%">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td id="content" class="content">
                                <div class="headerline">AyoWiki - Easy to use Wiki</div>
                                <!--------------------------------D O C U M E N T   C O N T E N T----------------------------------->
                                <!--SESSIONMENUBAR-->
                                <!--CONTENT-->
                                <!--------------------------------E N D   O F   C O N T E N T------------------------------------->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="fotterline">AyoWiki - Easy to use Wiki - Copyright 2020 - <a href="https://github.com/HugoMaza/AyoWiki" target="_blank">AyoWiki on Github</a></div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
    
